ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
li a{
    color:#666;
    padding:8px 50px 5px 30px;
    text-decoration:none;
    float:right;
    color:white;
}
.logo{
    float:left;
    height:10px;
    padding-top:4px;
    margin-left:20px;
}
img{
    height:30px;
    width:35px;
    background-color: black;
}
.head-main{
    background-color: black;
    width:100%;
    height:40px
}
i{
    height:48px;
    width:40px;
    color:white;
	margin-top:-20px;
    padding-top:0px;
    margin-left:48%
}
#search{
	width:23%;
	margin-left:15%;
	margin-top:6px;
	height:27px;
	border-radius:10px;
	border:1px solid black;
}
hr{
	color:white;
	margin-left:100%;
}
#head1{
    width:37%;
    height:46.8%;
    background-color:black;
    float:left;
    text-align: center;
    padding-top:40px;
}
#head2{
    width:17%;
    height:47%;
    background-color: #F08080;
    float:left;
    text-align: center;
    padding-top:40px;
}
#head3{
    width:45.2%;
    height:25%;
    background-color:black;
    text-align: center;
    float:right;
    margin-left:5px;
}
#head4{
    width:21%;
    height:27%;
    background-color: rgb(255, 253, 253);
    float:left;
    text-align: center;
    padding-left:-150px;
    margin-top:10px;
    margin-left:11.5px;
}
#head5{
    width:4%;
    height:27%;
    background-color:#77b0c2;
    text-align:left;
    float:right;
    padding-left:300px;
    margin-top:10px;
}
.image{
    margin-top:-9.7px;
    margin-left:0px;
    width:600px;
    height:354px;
}
.ip{
    float:left;
    margin-top:-40px;
    margin-left:240px;
    width:80px;
    height:30px;
    font-size:28px;
    background-color: black;
    color:whitesmoke;
}
.ip1{
    float:left;
    margin-top:-40px;
    margin-left:100px;
    width:80px;
    height:30px;
    font-size:28px;
    background-color: #F08080;
    color:rgb(24, 23, 23);  
}
.ip2{
    float:left;
    margin-top:-0px;
    margin-left:50px;
    width:80px;
    height:30px;
    font-size:28px;
    background-color: black;
    color:whitesmoke;
}
.ip3{
    float:left;
    margin-top:-0px;
    margin-left:50px;
    width:80px;
    height:30px;
    font-size:28px;
    background-color: rgb(253, 250, 250);
    color:rgb(15, 15, 15);
}
.ip4
{
    float:left;
    margin-top:-0px;
    margin-left:-230px;
    width:100px;
    height:30px;
    font-size:28px;
    background-color:#77b0c2;
    color:whitesmoke;
}
.image1{ 
    margin-top:-10px;
    width:256.2px;
    height:355px;
}
.image2{
    width:650px;
    height:148px;
    margin-left:-1px;
}
.image3{
    width:315px;
    height:164px;
    margin-left:0px;
    margin-right:500px;
}
.image4{
    width:360.6px;
    height:165px;
    margin-left:-300px;
    margin-right:-179px;
    margin-top:30px;
}
#para{
    width:100%;
    background-color: white;
	margin-top: -190px;
}
h4{
    margin-top:600px;
    padding-bottom:0px;
    margin-bottom:0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(105, 105, 105);
}
.p1{
    color:rgb(110, 109, 109);
    font-size:14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    color:rgb(105, 105, 105);
    font-size:15px;
    padding-bottom:0px;
    margin-bottom:0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#about{
    background-color: rgb(16, 70, 114);
    width:100%;
    height:30%;
}
#about1{
    height:100%;
    width:60%;
    background-color: #77b0c2;
    float:left;
}
#about2{
    height:100%;
    float:right;
    width:40%;
    background-color: #174d5e;
}
.p2{
    color:whitesmoke;
    font-size:15.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left:15px;
    padding-left:15px;
}